body {
  background: url(https://snipboard.io/ZJiqOR.jpg) repeat-x;
  color: white;
  animation: move 10s linear infinite;
}
.wrapper {
  overflow: hidden;
  animation: none !important;
}
@keyframes move {
from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
